<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="CV Shortlist - The AI-powered candidate CVs shortlisting portal for professional recruiters and HR departments"/>
    <meta name="keywords" content="CV shortlist, candidate CV shortlist, CV shortlisting, candidate CV shortlisting, AI CV shortlist, AI candidate CV shortlist, AI CV shortlisting, AI candidate CV shortlisting, automated recruitment, HR tech, resume screening, hiring automation"/>
    <base href="/"/>
    <ResourcePreloader/>
    <link rel="stylesheet" href="@Assets["css/bootstrap.min.css"]"/>
    <link rel="stylesheet" href="@Assets["css/app.css"]"/>
    <link rel="stylesheet" href="@Assets["CvShortlist.styles.css"]"/>
    <ImportMap/>
    <link rel="icon" type="image/png" href="favicon.png"/>
    <HeadOutlet/>
</head>

<body>
    <Routes/>
    <ReconnectModal/>

    <script src="@Assets["_framework/blazor.web.js"]"></script>
    <script src="@Assets["js/bootstrap.bundle.min.js"]"></script>
    <script src="@Assets["js/pdf-lib.min.js"]"></script>
    <script src="@Assets["js/zip-fs.min.js"]"></script>
    <script src="@Assets["js/pdfStore.js"]"></script>
    <script src="@Assets["js/utils.js"]"></script>
</body>

</html>
